@model List<TachLayout.Models.SanPhamGio>


@{

    ViewBag.PageName = "Cart";
}


<div id="templatemo_main_wrapper">
<div id="templatemo_main">
    <div id="sidebar" class="left">
        <div class="sidebar_box"><span class="bottom"></span>
            <h3>Categories</h3>   
            <div class="content"> 
                <ul class="sidebar_list">
                    <li><a href="#">Nulla odio ipsum</a></li>
                    <li><a href="#">Suspendisse posuere</a></li>
                    <li><a href="#">Aliquam euismod</a></li>
                    <li><a href="#">Curabitur ac mauris</a></li>
                    <li><a href="#">Mauris nulla tortor</a></li>
                    <li><a href="#">Nullam ultrices</a></li>
                    <li><a href="#">Vivamus scelerisque</a></li>
                    <li><a href="#">Suspendisse posuere</a></li>
                    <li><a href="#">Quisque vel justo</a></li>
                </ul>
            </div>
        </div>
        <div class="sidebar_box"><span class="bottom"></span>
            <h3>Weekly Special</h3>   
            <div class="content special"> 
                <img src="images/templatemo_image_01.jpg" alt="Flowers" />
                <a href="#">Citrus Burst Bouquet</a>
                <p>
                    Price:
                    <span class="price normal_price">$160</span>&nbsp;&nbsp;
                    <span class="price special_price">$100</span>
                </p>
            </div>
        </div>
    </div>

    <div id="content" class="right">
        <h2>Shopping Cart</h2>
            <table width="700" border="0" cellpadding="5" cellspacing="0">
                <tr bgcolor="#395015" style="color: white;">
                    <th width="168" align="left">Item</th>
                    <th width="188" align="left">Description</th>
                    <th width="60" align="center">Quantity</th>
                    <th width="80" align="right">Price</th>
                    <th width="80" align="right">Total</th>
                    <th width="64"> </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(item.Hinh))
                            {
                                <img src="~/images/product/@item.Hinh" width="70" alt="@item.TenSp"
                                     onerror="this.src='~/images/no-image.jpg'" />
                            }
                            
                        </td>

                        <td>@item.TenSp</td>

                        <td align="center">
                            <form method="post" action="/cart/update" style="display: inline;">
                                <input type="hidden" name="id" value="@item.MaSp" />
                                <div style="display: flex; align-items: center; justify-content: center; gap: 3px;">                                 
                                    <input type="number" name="quantity" value="@item.SoLuong" min="1"
                                           style="width: 45px; text-align: center; border: 1px solid #ccc; padding: 2px;"
                                           onchange="this.form.submit()" />                                   
                                </div>
                            </form>
                        </td>

                        <td align="right">
                            @String.Format("{0:N0} đ", item.Gia)
                        </td>

                        <td align="right">
                            @String.Format("{0:N0} đ", item.ThanhTien)
                        </td>


                        <td align="center">
                            <a href="/cart/remove/@item.MaSp" style="text-decoration: none;">
                                <img src="~/images/remove.png" alt="remove" /><br />Remove
                            </a>
                        </td>
                    </tr>
                }

                
                @if (Model.Any())
                {
                    var tongTien = Model.Sum(item => item.ThanhTien);
                    var soLuongTong = Model.Sum(item => item.SoLuong);

                    
                    <tr bgcolor="#395015" style="color: white;">
                        <td colspan="3" align="left" style="font-weight: bold; padding: 10px;">
                            Tổng cộng (@soLuongTong sản phẩm)
                        </td>
                        <td></td>
                        <td align="right" style="font-weight: bold; color: #d9534f; font-size: 10px; padding: 10px;">
                            @String.Format("{0:N0} đ", tongTien)
                        </td>
                        <td></td>
                    </tr>
                }
            </table>

           

        <div class="cleaner h20"></div>
        <div class="right">

                <div class="right"><a asp-action="CreateOrder" asp-controller="Cart"  class="button">Thanh Toán</a></div>
            </div>
        <div class="cleaner h20"></div>
        <div class="blank_box">
            <a href="#"><img src="images/free_shipping.jpg" alt="Free Shipping" /></a>
        </div>    
    </div>
    <div class="cleaner"></div>
</div> <!-- END of main -->
</div> <!-- END of main wrapper -->