@{
    Layout = "_Layout";
    ViewBag.PageName = "Products";
}
@model TachLayout.Models.SanPham

<div id="templatemo_main_wrapper">
    <div id="templatemo_main">
        <div id="sidebar" class="left">
            <div class="sidebar_box">
                <span class="bottom"></span>
                <h3>Categories</h3>
                <div class="content">
                    <ul class="sidebar_list">
                        <li><a href="#">Nulla odio ipsum</a></li>
                        <li><a href="#">Suspendisse posuere</a></li>
                        <li><a href="#">Aliquam euismod</a></li>
                        <li><a href="#">Curabitur ac mauris</a></li>
                        <li><a href="#">Mauris nulla tortor</a></li>
                        <li><a href="#">Nullam ultrices</a></li>
                        <li><a href="#">Vivamus scelerisque</a></li>
                        <li><a href="#">Suspendisse posuere</a></li>
                        <li><a href="#">Quisque vel justo</a></li>
                    </ul>
                </div>
            </div>
            <div class="sidebar_box">
                <span class="bottom"></span>
                <h3>Weekly Special</h3>
                <div class="content special">
                    <img src="~/images/templatemo_image_01.jpg" alt="Flowers" />
                    <a href="#">Citrus Burst Bouquet</a>
                    <p>
                        Price:
                        <span class="price normal_price">$160</span>&nbsp;&nbsp;
                        <span class="price special_price">$100</span>
                    </p>
                </div>
            </div>
        </div>
        @* Hiển thị danh sách sản phẩm *@
        <div id="content" class="right">
            <h2>@Model.TenSp</h2>

            <div class="content_half left">
                @{
                    string imagePath = "~/images/product/default.jpg";
                    if (!string.IsNullOrEmpty(Model.Hinh))
                    {
                        if (Model.Hinh.StartsWith("/images/") || Model.Hinh.StartsWith("~"))
                        {
                            imagePath = Model.Hinh;
                        }
                        else
                        {
                            imagePath = "~/images/product/" + Model.Hinh;
                        }
                    }
                }

                <a rel="lightbox" href="@Url.Content(imagePath)">
                    <img src="@Url.Content(imagePath)" alt="@Model.TenSp" width="250" />
                </a>
            </div>

            <div class="content_half right">
                <table>
                    <tr>
                        <td width="130">Price:</td>
                        <td width="84">
                            @String.Format("{0:N0} đồng",
                            Model.GiaKm != null && Model.GiaKm > 0 ? Model.GiaKm : Model.Gia)
                        </td>
                    </tr>
                    <tr>
                        <td>Availability:</td>
                        <td>
                            <strong>@(Model.SoLuong > 0 ? "In Stock" : "Out of Stock")</strong>
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity</td>
                        <td>
                            <input type="text" value="1" size="6" maxlength="2" />
                        </td>
                    </tr>
                </table>
                <div class="cleaner h20"></div>
                <a href="@Url.Action("AddToCart", "ShoppingCart", new { id = Model.MaSp })" class="button">Add to Cart</a>
            </div>

            <div class="cleaner h40"></div>

            <h4>Product Description</h4>
            <p>@Model.MoTa</p>

            <div class="cleaner h40"></div>
            <div class="blank_box">
                <a href="#"><img src="~/images/free_shipping.jpg" alt="Free Shipping" /></a>
            </div>
        </div>

        <div class="cleaner"></div>
    </div> <!-- END of main -->
</div> <!-- END of main wrapper -->
